

.levelContainer {
    padding: 2em 2em 2em 2em;
    background: white;
    margin-top: 2em;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    width: 250px;
    text-align: center;
    padding:.5em 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.qty {
    display:flex;
    align-items: baseline;
    margin-top:2em;
}

.qty input[type = 'text'] {
    margin-left: 1em;
    width: 20px;
    border-radius: 5px;
}

.coupon {
    display: flex;
    flex-direction: column;
}

.coupon input {
    width: 80px;
}

.coupon button {
    width:60px;
}

.btn {
    display:flex;
    justify-content:space-evenly;
}

.btn button{
    width: 7rem;
    border-radius: 5px;
    font-size:20px;
}

.contBtn {
    background-color: #3A5044;
    color:white;
}

.backBtn {
    background:#C4C4C4;
    border: 1px solid black;
}