.form-2-container {
    /* border: 1px solid lightcoral; */
}

.status-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 64px;
    margin-top: 32px;
    /* border: 1px solid red; */
}

.headline-container {
    width: 360px;
    margin: 24px 0px 0px 0px;
    /* border: 1px solid lightcoral; */
}

.headline-container h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #4D4F5C;
}

.inputs-container {
    margin: 16px 0px 0px 0px;
    /* border: 1px solid dodgerblue; */
}

.input-container {
    box-sizing: border-box;
    width: 360px;
    height: 88px;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid red; */
}

.label {
    width: 100%;
    /* background: red; */
    margin: 0px 0px 8px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #4D4F5C;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin: 0px;
}

.body-1 {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #4D4F5C;
}

.body-2 {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #4D4F5C;
}

.helper-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    width: 100%;
    color: #990000;
    visibility: visible;
    margin: 4px 0px 0px 0px;
    /* background: lightblue;  */
}

.terms-container {
    display: flex;
    align-items: center;
    width: 360px;
    margin-top: 16px;
    /* border: 1px solid lightcoral; */
}

.terms-container img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    /* border: 1px solid green; */
}

.terms {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin: 0px;
}

.em-terms {
    font-weight: 600;
}

.form-display-container button {
    width: 184px;
    height: 40px;
    margin-top: 16px;
    vertical-align: center;
    padding: 8px 16px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.25px;
    background: #3A5044;
    color: #FFFFFF;
    border: none;
}

.break-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 360px;
    margin-top: 16px;
    /* border: 1px solid red; */
}

.break-bar {
    width: 132px;
    height: 1px;
    background: #545454;
    opacity: 50%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 16px;
    /* border: 1px solid red; */
}

.button-container button {
    margin: 0px;
}

.google-button {
    width: 160px;
    min-height: 40px;
    margin-top: 0px;
    background: url('../images/google-sign-in-deafult-2x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid lightcoral; */
}

.already-member-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 360px;
    margin-top: 16px;
    /* border: 1px solid lightcoral;     */
}

.stretch {
    display: flex;
    justify-content: center;
    width: 100%;
}