.form1-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px 16px 16px 16px;
    /* background: #C4C4C4; */
}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    /* border: 1px solid dodgerblue; */
}

.headline-container p {
    margin-left: 2px;
}

.form-inputs-container {
    box-sizing: border-box;
    width: 100%;
    margin: 16px 0px 0px 0px;
    border: 1px solid purple;
}

.input-item-containter {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 88px;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid lightseagreen; */
}