.form-progress-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 24px;
    margin-top: 16px;
    /* border: 1px solid dodgerblue; */
}

.progress-icon {
    /* margin: 0px 8px 0px 8px; */
    /* background: red; */
}

.progress-bar {
    width: 16px;
    height: 2px;
    /* margin: 0px 8px 0px 0px; */
    background: black;
}