@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: #F4F4F4;
}

h1 {
    box-sizing: border-box;

    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #444444;
    margin: 0px;
    /* border: 1px solid red; */
}

h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #444444;
    margin: 0px;
    /* border: 1px solid red; */
}

h3 {
    font-family: Roboto;
    font-weight: medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #444444;
    margin: 0px;
    /* border: 1px solid red; */
}

h4 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #444444;
    margin: 0px;
    /* border: 1px solid red; */
}

.body1 {
    box-sizing: border-box;

    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #545454;
    margin: 0px;
    /* border: 1px solid red; */
}

.body2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #545454;
    margin: 0px;
    /* border: 1px solid red; */
}

.subtitle {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #444444;
    margin: 0px;
    /* border: 1px solid red; */
}

/* .input-text {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: red;
    margin: 0px;
    border: 1px solid red;
} */

.helper-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #990000;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    visibility: visible;

    /* border: 1px solid red; */
}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 72px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid dodgerblue;
}



label {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 8px 0px;
    /* border: 1px solid red; */
}

input {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #545454;
    margin: 0px 0px 8px 0px;
    padding: 0px 8px 0px 8px;
    border: none;
    background: none;
    border: 1px solid #CCCCCC;
    /* background: lightseagreen; */
}

.input-item-containter {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 88px;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid lightseagreen; */
}

button {
    width: 200px;
    height: 40px;

    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #F4F4F4;
    background: #3A5044;
    border: none;
    margin: 0px;
}