.container {
    display:flex;
    justify-content: flex-start;
    margin: 2em 2em;
}

form {
    background: white;
    padding:1em 2em 1em 2em;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
}

.btnRow {
    display:flex;
    justify-content: space-around;
    margin-top: 3em;
}

.backBtn,
.contBtn {
    width: 7rem;
    border-radius: 5px;
    font-size:20px;
}

.backBtn {
    border: 1px solid black;
    background:#C4C4C4;
}

.contBtn {
    background-color:#3A5044;
    color:white;
}