.temp-nav-bar-container {
    width: 100%;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    /* visibility: hidden; */
    /* display: none; */
    background: dodgerblue;
}

.temp-nav-bar-container a {
    color: white;
    text-decoration: none;
}